/* gets rid of unnecessary whitespace */
* {
  margin: 0;
  padding: 0;
}

/* sets font and overall style */
body {
  font-family: Verdana, sans-serif;
  background-color: #96beff;
  padding: 0 0 50px 0;
}

/* gets rid of ugly underline for links */
a {
  text-decoration: none;
}

/* gives paragraphs a little more space */
p {
  padding: 10px 0;
}

/* adjusts the style for the header of the website */
#header {
  text-align: center;
  color: #ffffff;
  background-color: #030d1e;
  padding: 25px;
  width: 96.5%;
  height: 75px;
  background-image: url("636154731398800060-2119844250_math.jpg");
}

/* adjusts the style for the content of each page */
#content {
  padding: 10px 25%;
  text-align: justify;
}

/* puts links to previous page on the left */
#prev {
  float: left;
}

/* puts links to next page on the right */
#next {
  float: right;
}

/* gives an underline to titles */
.title {
  text-decoration: underline;
}

/* styling for the div checking whether or not the two rings are equivalent */
#check {
  text-align: center;
}

/* represents the ring */
.ring {
  /* padding: 0 25%; */
  width: 250px;
  height: 250px;
  border-radius: 250px;
  background: none;
  border: 6px solid #820000;
  margin: 50px auto;
}

/* represents the beads */
.ball {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: 3px solid black;
}

/* each of these classes corresponds to a possible color of the beads */

.white {
  background-color: white;
}
.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

/* white buttons on index.html */
#white1 {
  position: absolute;
  margin: 0 auto;
  top: 235px;
  right: 705px;
}

#white2 {
  position: absolute;
  margin: 0 auto;
  top: 275px;
  right: 615px;
}

#white3 {
  position: absolute;
  margin: 0 auto;
  top: 360px;
  right: 578px;
}

#white4 {
  position: absolute;
  margin: 0 auto;
  top: 450px;
  right: 615px;
}

#white5 {
  position: absolute;
  margin: 0 auto;
  top: 490px;
  right: 705px;
}

#white6 {
  position: absolute;
  margin: 0 auto;
  top: 455px;
  right: 795px;
}

#white7 {
  position: absolute;
  margin: 0 auto;
  top: 360px;
  right: 832px;
}

#white8 {
  position: absolute;
  margin: 0 auto;
  top: 270px;
  right: 795px;
}

/* at this point I realized it's a lot easier to use position: relative, but I wasn't about to change all the stuff I did above */
/* example ring */
.bead1 {
  position: relative;
  margin: 0 auto;
  bottom: 20px;
  left: 112px;
}

.bead2 {
  position: relative;
  margin: 0 auto;
  top: 20px;
  left: 163px;
}

.bead3 {
  position: relative;
  margin: 0 auto;
  top: 100px;
  left: 163px;
}

.bead4 {
  position: relative;
  margin: 0 auto;
  top: 200px;
  left: 90px;
}

.bead5 {
  position: relative;
  margin: 0 auto;
  top: 235px;
  right: 35px;
}

.bead6 {
  position: relative;
  margin: 0 auto;
  top: 205px;
  right: 160px;
}

.bead7 {
  position: relative;
  margin: 0 auto;
  top: 100px;
  right: 237px;
}

.bead8 {
  position: relative;
  margin: 0 auto;
  bottom: 17px;
  left: 25px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 0 10px;
    font-size: 30px;
    border: none;
}

/* gets rid of the ugly outline around buttons when clicked on */
button:focus {
  outline: 0;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 310px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
